*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: lime;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: auto;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container a{
    display: block;
}
.main-selector{
    width: 500px;
    height: 300px;
    margin: 0px 50px 0px 50px;
    transition: transform .2s; /* Animation */
    overflow: hidden;
}
.main-selector:hover{
    transform: scale(1.25);
}
.main-img{
    max-width: 100%;
    object-fit: contain;
}
